.note-container {
  max-width: 35rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.note-title {
  display: flex;
  margin-bottom: 0.5rem;
}

.note-chip {
  border-radius: var(--BORDER-RADIUS);
  background-color: var(--COLOR-BORDER);
  margin-left: 10px;
  padding: 0.25rem;
}

.note-content {
  margin-bottom: 1rem;
}

.note-pin,
.note-title span {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-icons {
  display: flex;

  font-size: 1.5rem;
  cursor: pointer;
}

.note-icons span {
  margin-left: 1rem;
}

li {
  list-style: none;
}

.m-b-1 {
  margin-bottom: 1rem;
}
