.login-page {
  display: grid;
  min-height: 80vh;
  grid-template-areas:
    "... ... ..."
    "... main ...";
}

.form-login {
  grid-area: main;
  padding: 1rem;
  justify-content: center;
  background-color: inherit;
  color: inherit;
  gap: 0.5rem;
  position: relative;
  height: fit-content;
  border: 1px solid;
  border-radius: var(--BORDER-RADIUS);
}

.form-btn {
  margin-top: 0;
}

.title-form,
.link-account {
  text-align: center;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-passwordeye {
  position: absolute;
  right: 10px;
  display: flex;
  color: inherit;
}

.parent-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

input.form-input, .form {
  color: inherit;
  background-color: inherit;
}

[data-theme="dark"].login-page {
  background-color: var(--BG-DARK);
  color: var(--COLOR-FT);
} 