.textfield {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 2rem; 
  border-radius: var(--BORDER-RADIUS); 
}

.textfield-title,
.textfield-content {
  margin: 1rem;
  outline: none;
  border: none;
  resize: none;
  background-color: inherit;
  color: inherit;
}

.select-option {
  width: 20%;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--COLOR-BORDER);
  margin-right: 0.5rem;
  background-color: inherit;
  color: inherit;
}

.textfield-options {
  margin: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  color: inherit;
  background-color: inherit;
}

.color-plallate {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.color-plallate-child {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
  border: 1px solid var(--COLOR-BORDER);
}

.color-plallate-child:nth-child(1){
  background-color: #f28b82;
}

.color-plallate-child:nth-child(2){
  background-color: #fbbc04;
}
.color-plallate-child:nth-child(3){
  background-color: #fff475;
}
.color-plallate-child:nth-child(4){
  background-color: #ccff90;
}
.color-plallate-child:nth-child(5){
  background-color: var(--BG-BODY);
}

.color-plallate-options {
  display: flex;
  width: fit-content;
  border: 1px solid  var(--COLOR-BORDER);
  border-radius: var(--BORDER-RADIUS);
  position: absolute;
  z-index: 2;
  background-color: var(--COLOR-FT);
}

.btn-add {
  margin-left: auto;
  margin-right: 1rem;
}

[data-theme="dark"].textfield {
  background-color: var(--BG-DARK) !important;
  border: 1px solid;
} 