.center-div {
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-height: 80vh;
    margin-top: 10rem;
}

.profile-container {
    padding: 1rem;
    border: 1px solid var(--COLOR-BORDER);
}

.profile-container h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--COLOR-BORDER);
}

.profile-container h3,
.profile-container button {
    margin-top: 1rem;
}

.btn-logout {
    background-color: var(--COLOR-ERROR);
    color: var(--COLOR-FT);
}

.btn-logout:hover {
    opacity: 0.7;
}