.aside {
  grid-area: aside;
  margin: 1rem;
  max-width: 250px;
}

.sidebar {
  margin: 0.5rem;
  position: sticky;
  top: 5rem;
}

.sidebar > a,
.sidebar > a > span {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.sidebar > a {
  font-size: 1rem;
}

.aside-icons {
  margin-right: 1rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
