.signup-page {
    display: grid;
    min-height: 80vh;
    grid-template-areas:
    "... ... ..."
      "... main ...";
  }
  
  .form-signup {
    grid-area: main;
    padding: 1rem;
    justify-content: center;
    background-color: var(--COLOR-FT);
    gap: 0.5rem;
    height: fit-content;
  }
  
  .signup-checkbox {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .form-btn {
    margin-top: 0;
  }
  
  .title-form,
  .link-account {
    text-align: center;
  }
  
  .form-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-passwordeye {
    position: absolute;
    right: 10px;
    display: flex;
  }
  
  .parent-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
  }
  
  .flex-1 {
    flex: 1;
  }