.navbar-search {
    margin-bottom: 1rem;
    color: inherit;
    padding: 0.5rem;
}


[data-theme="dark"].navbar-search {
    background-color: var(--BG-DARK);
    color: var(--COLOR-FT);
    border: 1px solid;
  } 

  .navbar-search input {
      color: inherit;
      background-color: inherit;
  }