@import url("https://component-site-fitui.netlify.app/components/components.css");

:root {
  --COLOR-PRIMARY: #0284c7;
  --COLOR-PRIMARY-DARK: #075985;
  --COLOR-SECONDARY: #737373;
  --COLOR-FT: white;
  --COLOR-BORDER: #edebeb;
  --BORDER-RADIUS: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.form-input {
  border: 1px solid;
  border-radius: var(--BORDER-RADIUS);
}

.App {
  margin: auto;
  min-height: 100vh;
  height: 100%;
  background-color: var(--COLOR-FT);
}

